*::before *::after {
    box-sizing: border-box;
}

:root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body {
    margin: 0;
    background-color: var(--background-color);
}

